USE [master]
GO
/****** Object:  Database [BibliotecaDB]    Script Date: 22/06/2025 06:12:09 p. m. ******/
CREATE DATABASE [BibliotecaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BibliotecaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.BDD23A\MSSQL\DATA\BibliotecaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BibliotecaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.BDD23A\MSSQL\DATA\BibliotecaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BibliotecaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BibliotecaDB]
GO
USE [BibliotecaDB]
GO
/****** Object:  Table [dbo].[Generos]    Script Date: 22/06/2025 06:12:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Generos](
	[GeneroID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[EsFavorito] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GeneroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libros]    Script Date: 22/06/2025 06:12:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libros](
	[LibroID] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](255) NOT NULL,
	[Autor] [varchar](255) NOT NULL,
	[GeneroID] [int] NOT NULL,
	[Calificacion] [int] NULL,
	[Leido] [bit] NOT NULL,
	[PorLeer] [bit] NOT NULL,
	[Recomendado] [bit] NOT NULL,
	[Prestado] [bit] NOT NULL,
	[PrestadoA] [varchar](100) NULL,
	[FechaPrestamo] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LibroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Generos] ADD  DEFAULT ((0)) FOR [EsFavorito]
GO
ALTER TABLE [dbo].[Libros] ADD  DEFAULT ((0)) FOR [Leido]
GO
ALTER TABLE [dbo].[Libros] ADD  DEFAULT ((0)) FOR [PorLeer]
GO
ALTER TABLE [dbo].[Libros] ADD  DEFAULT ((0)) FOR [Recomendado]
GO
ALTER TABLE [dbo].[Libros] ADD  DEFAULT ((0)) FOR [Prestado]
GO
ALTER TABLE [dbo].[Libros]  WITH CHECK ADD FOREIGN KEY([GeneroID])
REFERENCES [dbo].[Generos] ([GeneroID])
GO
USE [master]
GO
